.input {
    position: relative;
    border: solid #f6f8fa;
    border-radius: 4px;
    width: min-content;
}

.error {
    border-color: #f13636;
}

.rInput {
    padding: 16px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    background: #f6f8fa;
    border: none;
    width: 100%;
}

.status {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.errMess {
    position: absolute;
    left: 0;
    bottom: -20px;
    color: #f13636;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
}
