.mut{
    padding: 68px 20px;
}

.container{
    max-width: 1216px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 37px;
}

@media screen and (max-width: 768px) {
    .mut{
        padding: 20px 20px 32px;
    }
    
    .container{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 375px) {
    .mut{
        padding: 20px 16px;
    }
}

@media screen and (max-width: 320px) {
    .mut{
        padding: 16px;
    }
}